<section class="register">
  <div>
    <h1>Registro</h1>
  </div>
  <div>
    <form class="example-form" [formGroup]="formStudent" #form>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre *</mat-label>
        <input
          matInput
          placeholder="Escribe el nombre"
          [formControlName]="studentModel.NAME"
        />
        <mat-error
          *ngFor="let validation of validationMessages[studentModel.NAME]"
        >
          <span *ngIf="validationForm(studentModel.NAME, validation)">
            {{ validation.message }}
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Apellido *</mat-label>
        <input
          matInput
          placeholder="Escribe el apellido"
          [formControlName]="studentModel.FAMILY_NAME"
        />
        <mat-error
          *ngFor="
            let validation of validationMessages[studentModel.FAMILY_NAME]
          "
        >
          <span *ngIf="validationForm(studentModel.FAMILY_NAME, validation)">
            {{ validation.message }}
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email *</mat-label>
        <input
          matInput
          placeholder="Escribe el email"
          [formControlName]="studentModel.EMAIL"
        />
        <mat-error
          *ngFor="let validation of validationMessages[studentModel.EMAIL]"
        >
          <span *ngIf="validationForm(studentModel.EMAIL, validation)">
            {{ validation.message }}
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Teléfono *</mat-label>
        <input
          matInput
          placeholder="Escribe el teléfono"
          [formControlName]="studentModel.PHONE"
        />
        <mat-error
          *ngFor="let validation of validationMessages[studentModel.PHONE]"
        >
          <span *ngIf="validationForm(studentModel.PHONE, validation)">
            {{ validation.message }}
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Programa de interés *</mat-label>
        <mat-select [formControlName]="studentModel.PROGRAM">
          <mat-option *ngFor="let program of programs" [value]="program.id">
            {{ program.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngFor="let validation of validationMessages[studentModel.PROGRAM]"
        >
          <span *ngIf="validationForm(studentModel.PROGRAM, validation)">
            {{ validation.message }}
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Comentario</mat-label>
        <textarea
          matInput
          placeholder="Escribe un comentario"
          [formControlName]="studentModel.COMMENT"
        ></textarea>
      </mat-form-field>
      <div class="buttons-form">
        <button mat-raised-button type="reset">Limpiar</button>
        <button
          mat-button
          mat-raised-button
          color="primary"
          [disabled]="!formStudent.valid"
          (click)="save()"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</section>
